<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss} %p %c{1}: %m%n</pattern>
		</encoder>
	</appender>
	<root level="${cch_logLevelRoot:-INFO}">
		<appender-ref ref="stdout"/>
	</root>
	<logger name="org.apache.http.wire" level="${cch_logLevelHttp:-WARN}" />
	<logger name="org.hibernate" level="${cch_logLevelHibernate:-WARN}" />
	<logger name="it.geosolutions.geoserver.rest" level="${cch_logLevelGeoserver:-WARN}" />
</configuration>
