#app-navbar-search-container {
    margin-right: 5px; 
    margin-top: 10px;
    width: 20%; /* This will change in js */
}


/* Make sure this appears above map elements */

#app-navbar-search-container .dropdown-menu {
    z-index: 1110;
}
#app-navbar-search-dropdown-toggle popover {
    z-index: 1110;
}

#app-navbar-search-container > div > div:first-child {
    border-radius: 4px;
}

#app-navbar-search-container > div > div:last-child {
    border-radius: 4px;
}

/* Give a glow to the search container */
#app-navbar-search-container > div {
    -moz-box-shadow: 0 0 11px #FFFFFF;
    -webkit-box-shadow: 0 0 11px #FFFFFF;
    box-shadow: 0px 0px 11px #FFFFFF;
    border-radius: 4px;
}

/* Setting the toggle button's down carat to have a slight margin on left' */
#app-navbar-search-container > div > div:first-child > button > span {
    margin-left: 5px;
}



@media (max-width: 991px) {
    #app-navbar-search-container {
        margin-right: 5px; 
        margin-top: 0px;
        width: 20%; /* This will change in js */
    }

    /* Give a glow to the search container */
    #app-navbar-search-container > div {
        -moz-box-shadow: 0 0 2px #FFD700;
        -webkit-box-shadow: 0 0 2px #FFD700;
        box-shadow: 0px 0px 2px #FFD700;
        border-radius: 4px;
    }

}