@import "../cch.less";

.navbar-glow() {
	-moz-box-shadow: 0 0 11px white;
	-webkit-box-shadow: 0 0 11px white;
	box-shadow: 0px 0px 11px white;
	border-radius: 4px;
}

#app-navbar-search-container {
    margin-right: 5px; 
    margin-top: 10px;
    width: 20%; /* This will change in js */
	.dropdown-menu {
		z-index: 1110;
	}
	> div {
		.navbar-glow;
		> div {
			&:first-child {
				border-radius: 4px;
				> button > span {
					margin-left: 5px;
				}
			}
			&:last-child {
				border-radius: 4px;
			}
		}
	}
}

#app-navbar-search-dropdown-toggle popover {
    z-index: 1110;
}

@media (max-width: 991px) {
    #app-navbar-search-container {
        margin-right: 5px; 
        margin-top: 0px;
        width: 20%;
		> div {
			.navbar-glow;
		}
    }

}