@import "../cch.less";

.introjs-bullets ul li a.active{
         background:@cch-primaryColor;
        }
        
.introjs-tooltipbuttons{
         text-align:center;  
        }

.half-opacity {
	opacity: 0.5;
}

#application-slide-items-content-container-inner-scrollable,
#map,
.panel,
#header-row{
	&.introjs-fixParent {
		position: inherit !important;
	}
}

#modal-content-share.introjs-fixParent{
    z-index:9999999 !important;
}

.modal-dialog.introjs-fixParent{
    position: relative !important;
    z-index:9999999 !important;
    
    .modal-dialog{
        z-index:999999 !important;
    }
}

#tourButton{
    margin-left:5px;
}

.introjs-arrow.top{
    right:50% !important;
}

a[data-stepnumber="2"],
a[data-stepnumber="3"],
a[data-stepnumber="4"],
a[data-stepnumber="6"],
a[data-stepnumber="7"],
a[data-stepnumber="8"],
a[data-stepnumber="9"],
a[data-stepnumber="10"],
a[data-stepnumber="11"],
a[data-stepnumber="13"],
a[data-stepnumber="14"],
a[data-stepnumber="15"],
a[data-stepnumber="16"],
a[data-stepnumber="17"],
a[data-stepnumber="18"],
a[data-stepnumber="19"],
a[data-stepnumber="20"],
a[data-stepnumber="21"],
a[data-stepnumber="22"],
a[data-stepnumber="23"],
a[data-stepnumber="24"]
{
	display: none !important;
}

@media (max-width: 991px) {
	
    a[data-stepnumber="2"],
    a[data-stepnumber="4"],
    a[data-stepnumber="9"],
    a[data-stepnumber="12"]
	{
		display: none !important;
	}
        
    a[data-stepnumber="11"]
        {
            display:block !important;
        }
        
    .introjs-bullets ul li a{
          width: 16px;
          height: 16px; 
          margin-left:10px;
        }
        
    
        
    .addMobileTip{
          left: -100px !important; 
          
          .introjs-arrow.bottom{
            right:10% !important;
        }
    }  
    .zoomMobileTip{
       left:-60px !important;
       
       .introjs-arrow.bottom{
            right:50% !important;
        }
     }
     
     .searchMobileTip{
         left:-15px !important;
     }
     
     .infoMobileTip{
         left: -60px !important;
         
         .introjs-arrow.bottom{
            right:50% !important;
        }
     }
     
     .shareMobileTip{
         left:-120px !important;
         
         .introjs-arrow.bottom{
            right:10% !important;
        }
     }
     
     .urlMobileTip{
         left:15px !important;
     }
     
     .clearMobileTip{
         left: -50px !important;
         
         .introjs-arrow.bottom{
            right:50% !important;
        }
     }

}