.half-opacity {
	opacity: 0.5;
}

#application-slide-items-content-container-inner-scrollable,
#map,
.panel {
	&.introjs-fixParent {
		position: inherit !important;
	}
}

.introjs-arrow.top{
    right:50% !important;
}
a[data-stepnumber="1"],
a[data-stepnumber="3"],
a[data-stepnumber="4"],
a[data-stepnumber="5"],
a[data-stepnumber="7"],
a[data-stepnumber="8"],
a[data-stepnumber="9"],
a[data-stepnumber="11"],
a[data-stepnumber="12"],
a[data-stepnumber="14"],
a[data-stepnumber="15"],
a[data-stepnumber="16"],
a[data-stepnumber="17"],
a[data-stepnumber="18"],
a[data-stepnumber="19"],
a[data-stepnumber="20"],
a[data-stepnumber="21"]
{
	display: none !important;
}

@media (max-width: 991px) {
	/* Decide which items we want to remove in mobile 
	
    a[data-stepnumber="2"],
	a[data-stepnumber="3"]
	{
		display: none !important;
	}

	*/
}