@import "../cch.less";

@slider-medium-grey: #E3E3E3;

#content-column {
	.panel-default {
		&:hover {
			cursor: pointer;
		}
		.panel-body {
			background-color: white;
			padding:0px 5px 5px 5px
		}
	}
}

.application-card-title-row {
	margin-bottom: 5px;
	line-height:1.1em;
	.application-card-title-container-medium {
		font-size: 18px;
		font-weight:bold;
	}
}

.application-card-body-container {
	padding: 2px;
}

.application-card-collapse-icon-container {
	display: table-cell;
	vertical-align: middle;
	padding-right: 5px;
	vertical-align: top;
	&:hover {
		cursor: pointer;
		font-size-adjust: 0.7;
	}
}

#application-slide-items-content-container-inner-scrollable {
	overflow-x: hidden;
}

#application-slide-items-content-container-inner-scrollable,
.panel {
	&.introjs-fixParent {
		position: inherit !important;
	}
}

.application-card-collapse-row {
	color: #BBBBBB;
}

.application-card-control-row-1 {
	margin-bottom: 5px;
}

.application-card-control-row > div button.disabled {
	color: #DCDCDC;
}

.disabled img{
    margin-top:-1px !important;
    height:13px !important;
    width:13px !important;
}

.application-card-control-row button,
.application-card-explore-row button {
	padding-right: 5px;
	padding-left: 5px;
	font-size: 10px;
	color: @cch-primaryColor;
}

.application-card-explore-row {
	text-align: left;
	ul {
		cursor: pointer;
		margin: 0px;
		padding: 2px;
		li {
			list-style-type: none;
			padding: 2px;
		}
	}
	button {
		font-size: 12px;
		white-space: normal;
		width: 100%;
		text-align: left;
	}
}

.application-card-add-bucket-btn {
	color: white !important;
	background-color: @cch-primaryColor;
	img{
		margin-top:-6px;
	}
}

.application-card-more-info-btn img, 
.application-card-zoom-to-btn img
{
	width: 12px !important;
}

.application-card-more-info-btn, 
.application-card-zoom-to-btn,
.application-card-add-bucket-btn {
	padding: 2px;
}

.application-card-content-row{
    margin-bottom:5px;
	.application-card-content-container-medium {
		font-size: 16px;
		> span {
			white-space: nowrap;
			a {
				color: #777;
				&:hover {
					text-decoration: none;
				}
			}
		}
	}
}

.application-card-collapse-row-dottedline,
.application-card-breadcrumbs-container {
	font-size: 13px;
	display: table-cell;
	width: 100%;
}

.application-card-breadcrumbs-container,
.application-card-title {
	color: #BBBBBB;
}

.application-card-breadcrumb-parent-link {
	cursor: pointer;
	color: @cch-primaryColor;
}


.application-card-collapse-row-dottedline hr {
	border-top:1px dashed #BBBBBB; 
}

.application-card-container {
	padding-top: 10px;
	.application-card-content-row {
		padding-bottom: 5px;
	}
	.item-control-button img {
		height: 15px;
		width: 15px;
	}
	.zoom-to-badge {
		background-color: @cch-primaryColor;
		margin-left: 5px;
		&:hover {
			cursor: pointer;
		}
	}
	&.open .application-card-collapse-row-closed {
		display: none;
	}
	&:not(.open) .application-card-collapse-row-open {
		display: none;
	}
}

.larger-text{
	font-size:16px !important;
}

.explore-contents-arrow {
    margin:-5px 5px 0 0;
    font-size:12px !important;
    -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
}

#application-slide-items-content-container {
	.panel-heading {
		text-align: left;
		&:hover {
			cursor: pointer;
		}
	}
	.panel-title {
		font-size: 1.5em;
		.accordion-title-arrow {
			color: #DCDCDC;
			margin-right: 1em;
			margin-top: 5px;
			vertical-align: middle;
			font-size: 0.75em;
			padding-bottom: 5px;
		}
	}
} 

/* Active Storm Sash */
.active-storm {
    position:relative;
}

.corner-ribbon-wrapper,
.new-feature-ribbon-wrapper{
	width: 125px;
	height: 60px;
	overflow:hidden;
	position: absolute;
	top: -1px;
	right: 0px;
}

.corner-ribbon,
.new-featurecorner-ribbon{
	width:160px;
	position:relative;
	right:-10px;
	top:7px;
	padding:10px 0;
	text-align:center;
	font-weight:bold;
	font-size:.6em;
	font-family:Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-transform: rotate(45deg);
	-moz-transform:    rotate(45deg);
	-ms-transform:     rotate(45deg);
	-o-transform:      rotate(45deg);
	box-shadow:0 2px 5px rgba(0,0,0,.2);
	color: white;
	p {
		width:73px;
		margin:0 0 0 52px
	}
}

.corner-ribbon{
    background:rgb(230,0,0);
}

.new-featurecorner-ribbon{
    background:@cch-primaryColor;
}

.downwardfacingarrow {
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
    margin-top:0px !important;
}

.aggregation-selection-container {
	display: inline-block;
	position: absolute;
	border: 1px solid rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	min-width: 320px;
	width: auto;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	z-index: 1007;
}

.aggregation-selection-container {
	ul {
		list-style-type: none;
		margin: 0px;
		padding: .5px;
		border-radius: 4px;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		li {
			background-color: white;
			padding: 5px;
			&:hover {
				cursor: pointer;
				background-color: @cch-gray;
			}
		}
	}
}

.active-item-card-body {
	color: @cch-text-color;
	background-color: @cch-gray;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	padding: 5px;
	span > a {
		color: @cch-text-color !important;
	}
}


@media (min-width: 992px) {
	/* No tab shown on large display. Toggled via button in bar */
	#application-slide-items-tab {
		display: none;
	}

	#application-slide-items-container {
		top: auto;
		left: auto;
	}

	#application-slide-items-content {
		height: 100%;
		width: 100%;
	}

	#application-slide-items-content-container {
		height: 100%;
		width: 100%;
		overflow-y: auto;
		.panel-title {
			font-size: 1.7em;
		}
	}
        
        .application-card-title-row .application-card-title-container-medium{
            font-weight:normal;
        }

	/* Chrome issue
	http://stackoverflow.com/questions/17508035/navigation-disappearing-in-chrome-after-scrolling-and-clicking
	*/
	#application-slide-items-content-container-inner-scrollable {
		-webkit-transform: translateZ(0);
		overflow-y: auto;
		height: 100%;
		> .panel{
			-webkit-transform: translateZ(0);
			// Fixes an issue in the main panels where if a scrollbar appears for
			// vertical scroll, the main panel container can now be scrolled 
			// horizontally. We don't want this.
			overflow: hidden;
		} 
	}

	#content-column {
		height: 100%;
	}

	.application-card-control-row button,
	.application-card-explore-row button {
		font-size: 12px;
	}

	/*more padding on desktop*/
	.panel-collapse > .panel-body {
		padding:0px 8px 8px 8px
	}

	/*larger icon for desktop*/
	.application-card-container .item-control-button img {
		height: 20px;
		width: 20px;
	}

	.disabled img{
		height:18px !important;
		width:18px !important;
	}

	.application-card-add-bucket-btn {
		height:26px
	}


	.application-card-title-row{
		line-height:1.2em;
		.application-card-title-container-medium {
			font-size: 20px;
		}
	}

}

@media (max-width: 991px) {
	#application-slide-items-container {
		position: absolute;
		z-index: 1006; /* 1005 is highest on map */
		height: 98%;
		overflow: hidden;
	}

	#application-slide-items-content-container {
		padding: 5px 5px 10px 5px;
		overflow-y: hidden;
		background-color: @cch-gray;
		height: 100%;
		border-left: 2px solid @slider-medium-grey;
		border-top: 2px solid @slider-medium-grey;
		border-bottom: 2px solid @slider-medium-grey;
		border-top-left-radius: 10px 10px;
		-webkit-border-top-left-radius: 10px 10px;
		border-bottom-left-radius: 10px 10px;
		-webkit-border-bottom-left-radius: 10px 10px;
	}

	#application-slide-items-content-container-inner-scrollable {
		&:nth-child(2) {
			overflow-y: auto;
			height: 90%;
		}
		&:first-child {
			margin-bottom: 10px;
		}
		&:not(:first-child) {
			// This fixes a bootstrap issue that causes the accordion to go beyond screen 
			// height, causing scroll bars when the items slide is open
			margin-bottom: 0px;
		}
	}

	#application-slide-items-content {
		height: 100%;
		float:right;
		border-bottom-left-radius: 10px 10px;
		-webkit-border-bottom-left-radius: 10px 10px;
	}

	#application-slide-items-tab {
		height : fit-content;
		width: fit-content;
		display: inline-block;
		background-color: @cch-gray;
		border-left: 2px solid @slider-medium-grey;
		border-top: 2px solid @slider-medium-grey;
		border-bottom: 2px solid @slider-medium-grey;
		z-index: 2001;
		border-top-left-radius: 40px 10px;
		-webkit-border-top-left-radius: 40px 10px;
		border-bottom-left-radius: 40px 10px;
		-webkit-border-bottom-left-radius: 40px 10px;
		float: left;
		font-size: 1.4em;
		padding-left: 5px;
		padding-top: 5px;
		padding-bottom: 5px;
		color: #0033CC;
		z-index: 1007;
		top: 90%;
		&:hover {
			cursor: pointer;
		}
	}

	.corner-ribbon-wrapper,
        .new-feature-ribbon-wrapper{
		height:56px;
	}

	.corner-ribbon,
        .new-featurecorner-ribbon{
		font-size:.65em;
		p {
			margin:0 0 0 50px;
		}
	}

	.application-card-breadcrumbs-container{
		font-size:16px;
	}

}

@media screen and (max-width:380px){

    #application-slide-items-content-container .panel-title {
		font-size: 1.2em;
		padding-top:2px;
    }

    .application-card-title-row .application-card-title-container-medium {

		font-size: 16px;
    }

    .corner-ribbon-wrapper,
    .new-feature-ribbon-wrapper{
        width:75px;
        height:50px;
    }

    .corner-ribbon,
    .new-featurecorner-ribbon{
        width:100px;
        font-size:.45em;
        right:0;
        padding:5px;
		p {
			width:90px;
			margin:0 0 0 7px;
		}
    }
}