.application-body {
	height: 640px;
}

/* Because of a conflict between twitter bootstrap and openlayers */
img { max-width: none; }

#map {
	height: 500px;
	width: 100%;
}

#site-title {
	line-height: 20px;
}

#ccsa-area {
	font : 1em/0.5em Verdana,Arial,Helvetica,sans-serif;
}