.application-body {
    min-height: 640px;
    min-width: 1280px;
}

.olLayerGoogleCopyright, .olLayerGooglePoweredBy, .gmnoprint {
	display : none
}

/* Because of a conflict between twitter bootstrap and openlayers */
img { max-width: none; }

#map {
    height: 40em;
    width: 100%;
}

#site-title {
    line-height: 20px;
}

#ccsa-area {
    font : 1em/0.5em Verdana,Arial,Helvetica,sans-serif;
}

#toolbox-content {
    height: 40em;
}

.hide {
    height: auto !important;
}

#shorelines-well {
    height: 80%;
}

#shorelines-list {
    height: 30em;
}

/* Fine Uploader
-------------------------------------------------- */
.qq-upload-list {
    text-align: left;
}

/* Uploader */
li.alert-success {
    background-color: #DFF0D8;
}

li.alert-error {
    background-color: #F2DEDE;
}

.alert-error .qq-upload-failed-text {
    display: inline;
}

.qq-uploader {
    width: 50%;
}

.nav-stacked li a img {
    width : 70%;
}

.nav-stacked li.active a img {
    width : 105%;
}

.nav-pills.nav-stacked > li > a {
    text-align: center;
}
