/* Add a drop shadow effect to scale and mouse position
    so they can be seen against a dark background */
.olControlScaleLine {
    text-shadow: #FFFFFF 0px 0px 2px;
    color: #000000;
}
.olControlMousePosition {
    text-shadow: #FFFFFF 0px 0px 2px;
    color: #000000;
}

/* For now, turn off qqUploader completed lists */
.qq-upload-list {
    display: none;
}

select option.published-layer{
    color : #661111; 
}

select option.session-layer{
    color : #116611; 
}

/* Because of a conflict between twitter bootstrap and openlayers */
img { max-width: none; }

#map {
    height: 100%;
    width: 100%;
}

#site-title {
    line-height: 20px;
}

#ccsa-area {
    font : 1em/0.5em Verdana,Arial,Helvetica,sans-serif;
}

.hide {
    height: auto !important;
}

#shorelines-list {
    height: 7.25em;
}

#map-well {
    height: 39em;
}

#toolbox-well {
    height: 39em;
}

#baseline-well {
    height: 5em;
}

#transects-well {
    height: 5em;
}

#create-transects-input-spacing {
    width: 6em;
}

#shoreline-table-container {
    height: 16.25em;
}

.shoreline-table-selected-head-column {
    width: 30%;
}

#results-table-container {
    height: 16.25em;
}

/* Fine Uploader
-------------------------------------------------- */
.qq-upload-list {
    text-align: left;
}

/* Uploader */
li.alert-success {
    background-color: #DFF0D8;
}

li.alert-error {
    background-color: #F2DEDE;
}

.alert-error .qq-upload-failed-text {
    display: inline;
}

.nav-stacked li a img {
    width : 70%;
}

.nav-stacked li.active a img {
    width : 100%;
}

.nav-pills.nav-stacked > li > a {
    text-align: center;
}