<table legend-index="1" legend-item-id="{{id}}">
	<caption>
		<span id="cch-legend-caption-container">
			<span class="ribboned-legend-caption">{{title}}</span>
		</span>
	</caption>
	<tbody>
		<tr>
			<td>
				<div id="hurricane-icons">
					<img src="{{baseUrl}}/images/map/legend-icons/hurr-01.svg" alt="hurricane icon"/>
					<img src="{{baseUrl}}/images/map/legend-icons/ts-01.svg" alt="ts icon"/>
					<img src="{{baseUrl}}/images/map/legend-icons/td-01.svg" alt="td icon"/>
					<img class="larger-legend-text" src="{{baseUrl}}/images/map/legend-icons/remnant-low-01.svg" alt="remnant low icon"/>
					<img class="larger-legend-text" src="{{baseUrl}}/images/map/legend-icons/track-uncertainty-01.svg" alt="track uncertainty icon"/>
				</div>
				<div id="warning-stripes">
					<img src="{{baseUrl}}/images/map/legend-icons/line-colors-01.svg" alt="warning lines"/>
				</div>
			</td>
	</tbody>
</table>