<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
    <bean id="generateTransects" class="gov.usgs.cida.coastalhazards.wps.GenerateTransectsProcess">
        <constructor-arg index="0" ref="importProcess"/>
        <constructor-arg index="1" ref="catalog"/>
    </bean>
    <bean id="calcIntersects" class="gov.usgs.cida.coastalhazards.wps.CalculateIntersectionsProcess">
        <constructor-arg index="0" ref="importProcess"/>
        <constructor-arg index="1" ref="catalog"/>
    </bean>
    <bean id="addResults" class="gov.usgs.cida.coastalhazards.wps.CreateResultsLayerProcess">
        <constructor-arg index="0" ref="importProcess"/>
        <constructor-arg index="1" ref="catalog"/>
    </bean>
    <bean id="utmZoneCount" class="gov.usgs.cida.coastalhazards.wps.UTMZoneCountProcess" />
    <bean id="plainTextPPIO" class="gov.usgs.cida.coastalhazards.wps.ppio.PlainTextPPIO" />
</beans>
