# Created by http://gitignore.io

### NetBeans ###
nbproject/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
build.xml
build.properties


### Java ###
*.class

# Package Files #
*.jar
*.war
*.ear

### Maven ###
target/

### Project Specific ###
/coastal-hazards-geoserver/src/main/webapp/META-INF/
/coastal-hazards-n52/src/main/webapp/META-INF/

/coastal-hazards-portal/catalina.base_IS_UNDEFINED/
/coastal-hazards-ui/catalina.base_IS_UNDEFINED/
ehcache-shaded/dependency-reduced-pom.xml
