---
version: '3.5'

networks:
  cch-net:

secrets:
  rserve_password:
    file: Docker/rserve/rserve.pwd
  rserve_config:
    file: Docker/rserve/rserve.conf
  rserve_profile:
    file: Docker/rserve/profile.conf

services:
  cch_postgres:
    networks:
      cch-net:
        aliases:
          - postgres
    env_file:
      - "compose.env"
    image: cch_postgres
    ports:
      - "5432:5432"

  cch_rserve:
    network_mode: "host"
    image: cch_rserve
    ports:
      - "6311:6311"
    env_file:
      - "compose.env"
    secrets:
      - source: rserve_password
        target: /rserve.pwd
      - source: rserve_config
        target: /rserve.conf
      - source: rserve_profile
        target: /profile.conf

  cch_n52_wps:
    network_mode: "host"
    image: cch_n52_wps
    ports:
      - "8082:8082"
    depends_on:
      - cch_rserve
    volumes:
      - type: bind
        source: ./coastal-hazards-n52/docker/key-store.jks
        target: /usr/local/tomcat/ssl/trust-store.jks
      - type: bind
        source: ./coastal-hazards-n52/docker/tomcat-users.xml
        target: /usr/local/tomcat/conf/tomcat-users.xml
      - type: bind
        source: ./coastal-hazards-n52/docker/context.xml
        target: /usr/local/tomcat/conf/context.xml
      - type: bind
        source: ./coastal-hazards-n52/docker/server.xml
        target: /usr/local/tomcat/conf/server.xml
      - type: bind
        source: ./coastal-hazards-n52/docker/wps_config.xml
        target: /wps_config.xml

  cch_portal:
    depends_on:
      - cch_keycloak
    network_mode: "host"
    image: cch_portal
    ports:
      - "8080:8080"
      - "8443:8443"
      - "8900:8900"
    volumes:
      - type: bind
        source: ./coastal-hazards-portal/docker/key-store.jks
        target: /usr/local/tomcat/ssl/key-store.jks
      - type: bind
        source: ./coastal-hazards-portal/docker/key-store.jks
        target: /usr/local/tomcat/ssl/trust-store.jks
      - type: bind
        source: ./coastal-hazards-portal/docker/tomcat-users.xml
        target: /usr/local/tomcat/conf/tomcat-users.xml
      - type: bind
        source: ./coastal-hazards-portal/docker/server.xml
        target: /usr/local/tomcat/conf/server.xml
      - type: bind
        source: ./coastal-hazards-portal/docker/context.xml
        target: /usr/local/tomcat/conf/context.xml
      - type: bind
        source: ./Docker/keycloak/keycloak_tomcat_config.json
        target: /usr/local/tomcat/conf/keycloak.json

  cch_geoserver:
    network_mode: "host"
    image: cch_geoserver
    ports:
      - "8081:8081"
      - "8444:8444"
    volumes:
      - type: bind
        source: ./coastal-hazards-geoserver/docker/key-store.jks
        target: /usr/local/tomcat/ssl/key-store.jks
      - type: bind
        source: ./coastal-hazards-geoserver/docker/key-store.jks
        target: /usr/local/tomcat/ssl/trust-store.jks
      - type: bind
        source: ./coastal-hazards-geoserver/docker/tomcat-users.xml
        target: /usr/local/tomcat/conf/tomcat-users.xml
      - type: bind
        source: ./coastal-hazards-geoserver/docker/server.xml
        target: /usr/local/tomcat/conf/server.xml
      - type: bind
        source: ./coastal-hazards-geoserver/docker/context.xml
        target: /usr/local/tomcat/conf/context.xml

  cch_keycloak:
    image: jboss/keycloak
    networks:
      cch-net:
        aliases:
          - keycloak
    ports:
      - "8083:8083"
      - "8446:8446"
    command: ["-Djboss.socket.binding.port-offset=3"]
    environment:
      - DB_VENDOR=h2
      - KEYCLOAK_USER=admin
      - KEYCLOAK_PASSWORD=admin
      - KEYCLOAK_HTTP_PORT=8083
      - KEYCLOAK_HTTPS_PORT=8446
    volumes:
      - type: bind
        source: ./Docker/keycloak/cch_local_development_realm.json
        target: /tmp/cch_realm.json
      - type: bind
        source: ./Docker/keycloak/load_cch_realm.sh
        target: /tmp/load_cch_realm.sh
      - type: bind
        source: ./Docker/keycloak/start_cch_keycloak.sh
        target: /opt/jboss/startup-scripts/start_cch_keycloak.sh
