/* ---------------------------------------------------------------------- UI */
html, body {
    /* While I designed the app to work with both overflows set to auto,
       for some reason, IE9 still gives me scroll bars which messes everything
       up :( so these need to be set to hidden */
    overflow-y: auto;
    overflow-x: hidden;
    /* 
    320 pixels is the minimum width and 600px is
    the minimum height that this application will support.
    Anything smaller, scroll the app
    */
    min-width: 320px;
    min-height: 600px;
    height: 100%;
    border: 0px;
    padding: 0px;
}

/*
    This resets bootstrap's row margins of -15px on each side - This is useful 
    if we'd like to see the top and bottom rows extend all the way to the edge 
    of the container - If we want to see that, remove this rule'
*/
#application-container > div.row:nth-child(1),
#application-container > div.row:nth-child(3) {
    margin-left: auto;
    margin-right: auto;
}

#application-container > div.row:nth-child(1) {
    background-color: #345280 !important;
    z-index: 1005;
    margin-bottom: 4px;
    height: 55px;
}

/* Gets the right edge of the accordion to line up with the header and footer edge */
#application-container > div.row:nth-child(2) > div:first-child > div:nth-child(2) {
    padding-right: 0px;
}

#application-container > div.row:nth-child(3) > div {
    background-color: #345280 !important;
    height: 20px;
    margin-top: 5px;
}

#metadata-link .btn-default {
    margin-left : 5px;
    margin-right : 5px;
}

/* Fixes pink tile issue in OpenLayers map */
.olImageLoadError {
    display : none !important;
}

#map {
    min-height : 150px;
    height: 100%;
}

/* Deals with layer identification on-click */
#feature-identification-popup_contentDiv table {
    width: 100%;
}
#feature-identification-popup_contentDiv table tr {
    font-size: 1.2em;
    vertical-align: middle;
    height: 50px;
    margin-bottom: 5px;
}
#feature-identification-popup_contentDiv table tr > td:nth-child(2) > span {
    height: 50%;
    border: 1px #999999 solid;
}
#feature-identification-popup_contentDiv table tr > td:nth-child(3) {
    padding-left: 10px;
    text-align: right;
}



@media (min-width: 1200px) {
    #application-container {
        width: 100%;
    }
}

@media (min-width: 992px) {
    #application-container {
        width: 100%;
    }
}

@media (min-width: 768px) {
    #application-container {
        width: 100%;
    }
}

@media (max-width: 991px) {
    body {
        padding:  0px !important;
    }

    #application-container {
        padding-left: 0px;
        padding-right:  0px;
    }

    #application-container > div.row:nth-child(1) {
        display: none;
    }

    #application-container > div.row:nth-child(3) {
        display: none;
    }

    /* Set the content row to not have any margins, overriding bootstrap's
       15px margins on left/right */
    #application-container > div:nth-child(2) {
        margin-left: 0px !important;
        margin-right:  0px !important;
    }
    /* Set the content column to not have any padding, overriding bootstrap's
       15px margins on left/right */
    #application-container > div:nth-child(2) > div.col-md-12 {
        padding-left: 0px !important;
        padding-right:  0px !important;
    }
}

@media (max-width: 440px) {
    #info-title {
        font-size: 0.65em;
    }

    #info-row-control iframe{
        margin-left: 5px;
    }

    #map {
        height : 300px;
    }

    .olControlZoom {
        display: none;
    }
}


@media (max-width: 320px) {
    overflow-x: auto;
}

.marker-active {
    border-color: #00CCFF !important;
    background-color: rgba(0,102,255, 0.5);
}

.marker-inactive {
    border-color: #00A3CC !important;
    background-color: rgba(0,102,255, 0.5);
}

.marker-hover {
    border-color: #8CE8FF !important;
    background-color: rgba(0,102,255, 0.5);
    opacity : 1.0 !important;
}

/* Setting this zIndex manually fixes
 an issue seen on mobile browsers with
 hidden modal windows blocking use of 
 containers they're in front of. This 
 can probably be done to set all 
 .modal[aria-hidden="true"] zo -1 zIndex,
 but I was somewhat concerned of side
 effects from doing it application-wide */
#helpModal[aria-hidden="true"],
#shareModal[aria-hidden="true"] {
    z-index: -1;
}

#modal-help-summary-container {
    font-size: 1.2em;
    font-family: Verdana,Arial,Helvetica,sans-serif;
}

#canned-views-row img {
    width: 100%;
    height: 100%;
}

#modal-share-summary-url-inputbox{
    width: 97%;
    font-size: 2em;
    height: 1.6em;
    line-height: 2em;
}

#modal-share-summary-text-label {
    font-size : 1.5em;
}

#modal-share-summary-twitter-label{
    font-size: 1.5em;
    line-height: 1.5em;
}
