#app-navbar-search-container {
    margin-right: 5px; 
    margin-top: 10px;
    width: 20%; // This will change in js
}


/* Make sure this appears above map elements */

#app-navbar-search-container .dropdown-menu {
    z-index: 1110;
}
#app-navbar-search-dropdown-toggle popover {
    z-index: 1110;
}

/* Setting the toggle button's down carat to have a slight margin on left' */
#app-navbar-search-container > div > div:first-child > button > span {
    margin-left: 5px;
}

@media (max-width: 991px) {
    #app-navbar-search-container {
        margin-right: 5px; 
        margin-top: 0px;
        width: 20%; // This will change in js
    }
}