#application-slide-bucket-container {
    position: absolute;
    z-index: 1008;
}

#application-slide-bucket-container > div:first-child > div:first-child {
    height: 97%;
    margin-top: 10px;
    overflow: scroll;
    width: 100%;
}

/* Close button */
#application-slide-bucket-container > div:first-child >  div:first-child >  div:first-child >  div:first-child >  div:first-child:hover {
    font-size-adjust: 1.1;
    font-weight: bold;
    cursor: pointer;
}

.application-slide-bucket-container-card-image {
    width: 100%;
}

/*
No tab shown on large display. Toggled via button in bar
*/
@media (min-width: 992px) {
    #application-slide-bucket-content {
        border-top-left-radius: 10px 10px;
        -webkit-border-top-left-radius: 10px 10px;
        border-bottom-left-radius: 10px 10px;
        -webkit-border-bottom-left-radius: 10px 10px;
    }
}

@media (max-width: 991px) {
    #application-slide-bucket-content {
        border-bottom-left-radius: 10px 10px;
        -webkit-border-bottom-left-radius: 10px 10px;
        border-top-left-radius: 10px 10px;
        -webkit-border-top-left-radius: 10px 10px;
        border-bottom-left-radius: 10px 10px;
        -webkit-border-bottom-left-radius: 10px 10px;
    }

    .application-slide-bucket-container-card-image {
        width: auto;
    }
    
    #application-slide-bucket-container {
        top : 10px;
        height: 97%;
    }
}

#application-slide-bucket-content {
    background-color: #F5F5F5;
    border-bottom: 2px solid #E3E3E3;
    border-top: 2px solid #E3E3E3;
    border-left: 2px solid #E3E3E3;
    height: 100%;
    float: right;
    display: inline-block;
    z-index: 2000;
}

#application-slide-bucket-container > div > div > #application-slide-bucket-content-empty {
    text-align: center;
    font-size: 1.4em;
}