#application-slide-search-container {
    position: absolute;
    z-index: 2000;
}

/* Inner container for the slide search container - Contains everything else */
#application-slide-search-container > div {
    background-color: #F5F5F5;
    border-bottom: 2px solid #E3E3E3;
    border-top: 2px solid #E3E3E3;
    border-left: 2px solid #E3E3E3;
    height: 100%;
    float: right;
    display: inline-block;
    z-index: 2000;
    padding-left: 10px;
    padding-right: 10px;
}

/* Close button row*/
#application-slide-search-container > div > div.application-slide-controlset {
    margin-left: 5px;
    width: 100%;
}
#application-slide-search-container > div > div.application-slide-controlset:hover {
    cursor: pointer;
}

/* Content container */
#application-slide-search-container > div > div:nth-child(2) {
    overflow-y: scroll;
    overflow-x: hidden;
    margin-right: 3px;
    margin-left: 3px;
}
/* Location and Product Container */
#application-slide-search-container > div > div:nth-child(2) > div {
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Paging containers */
#application-slide-search-container > div > div:nth-child(2) > div > div:nth-child(2) {
    text-align: center;
}

/* Location Container *********************************************************/
#application-slide-search-container > div > div:nth-child(2) > div:nth-child(1) {
    margin-bottom: 20px;
} 

/* Each row within the location container */
#application-slide-search-container > div > div:nth-child(2) > div:nth-child(1) > div {
    margin-left: 10px;
    margin-right: 10px;
}

/* The control set row within the location container */
#application-slide-search-container > div > div:nth-child(2) > div:nth-child(1) > div > div.application-slide-search-location-card-toggle {
    text-align: center;
}

#application-slide-search-container .application-slide-search-location-card-image {
    width: auto;
    height: auto;
}

#application-slide-search-container .application-slide-search-location-card-icon {
    font-size: 2em;
}
/******************************************************************************/

/* Product Container **********************************************************/
#application-slide-search-container > div > div:nth-child(2) > div:nth-child(2) {
    margin-bottom: 10px;
}
/* Each row within the product container */
#application-slide-search-container > div > div:nth-child(2) > div:nth-child(2) > div {
    margin-left: 10px;
    margin-right: 10px;
}

@media (min-width: 992px) {
    #application-slide-search-container > div  {
        border-top-left-radius: 10px 10px;
        -webkit-border-top-left-radius: 10px 10px;
        border-bottom-left-radius: 10px 10px;
        -webkit-border-bottom-left-radius: 10px 10px;
    }
}

@media (max-width: 991px) {
    #application-slide-search-container {
        top : 10px;
        height: 97%;
    }

    #application-slide-search-container > div {
        border-bottom-left-radius: 10px 10px;
        -webkit-border-bottom-left-radius: 10px 10px;
    }
}
