#application-slide-bucket-container {
    position: absolute;
    z-index: 1008;
}
    #application-slide-bucket-container > div {
        background-color: #F5F5F5;
        border-bottom: 2px solid #E3E3E3;
        border-top: 2px solid #E3E3E3;
        border-left: 2px solid #E3E3E3;
        float: right;
        display: inline-block;
        z-index: 2000;
    }
        #application-slide-bucket-container > div > div:first-child {
            margin-left: 0px;
            margin-right: 0px;
        }
    
        /* Empty Bucket Div */
        #application-slide-bucket-container > div > div > #application-slide-bucket-content-empty {
            text-align: center;
            font-size: 1.4em;
        }
        #application-slide-bucket-container > div > div:first-child > div > div:first-child {
            width: 10%;
        }
        #application-slide-bucket-container > div > div:first-child > div > div:nth-child(2) {
            width: 90%;
        }
        #application-slide-bucket-container > div > div:first-child button > img {
            height: 30px;
        }

        /* Card Image Column Div */
        #application-slide-bucket-container > div > div:nth-child(2) > div.well > div:first-child {
            display: inline-block;
            width: 20%;
            vertical-align: top;
        }
            #application-slide-bucket-container > div > div:nth-child(2) > div.well > div:first-child > img {
                max-width: 100%;
            }

        /* Card Description Column Div */
        #application-slide-bucket-container > div > div:nth-child(2) > div.well > div:nth-child(2) {
            display: inline-block;
            width: 57%;
        }

        /* Card Navigation Column Div */
        #application-slide-bucket-container > div > div:nth-child(2) > div.well > div:nth-child(3) {
            display: inline-block;
            width: 20%;
            vertical-align: top;
        }
            #application-slide-bucket-container > div > div:nth-child(2) > div.well > div:nth-child(3) img {
                max-width: 100%;
            }

        /* Card Control Row Div */
        #application-slide-bucket-container > div > div:nth-child(2) > div.well > div:nth-child(4) {
            width: 100%;
        }
            #application-slide-bucket-container > div > div:nth-child(2) > div.well > div:nth-child(4) > button {
                width: 32%;
            }
            #application-slide-bucket-container > div > div:nth-child(2) > div.well > div:nth-child(4) > button > img{
                height: 20px;
            }
            
    #application-slide-bucket-container > div > div.application-slide-content-container {
        height: 97%;
        margin-top: 10px;
        overflow: scroll;
        margin-right: 3px;
        margin-left: 3px;
    }

#application-slide-bucket-container .more-info-badge {
    background-color: #345280;
    margin-left: 5px;
}

#application-slide-bucket-container .more-info-badge a {
    color: #FFFFFF;
}

/*
No tab shown on large display. Toggled via button in bar
*/
@media (min-width: 992px) {
    #application-slide-bucket-container > div {
        border-top-left-radius: 10px 10px;
        -webkit-border-top-left-radius: 10px 10px;
        border-bottom-left-radius: 10px 10px;
        -webkit-border-bottom-left-radius: 10px 10px;
    }
}

@media (max-width: 991px) {
    #application-slide-bucket-container {
        top : 10px;
        height: 97%;
    }
    
    #application-slide-bucket-container > div {
        border-bottom-left-radius: 10px 10px;
        -webkit-border-bottom-left-radius: 10px 10px;
        border-top-left-radius: 10px 10px;
        -webkit-border-top-left-radius: 10px 10px;
        border-bottom-left-radius: 10px 10px;
        -webkit-border-bottom-left-radius: 10px 10px;
    }

    #application-slide-bucket-container .application-slide-bucket-container-card-image {
        width: auto;
    }
}
