@import "../cch.less";

.row-form-combo() {
	.form-group {
		width: 100%;
	}
	.form-control {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		width: 100%;
	}
}

.emphasis-block() {
	display: none;
	&.enabled {
		color: red;
		display: initial;
	}
}

.container{
    padding-top:15px;
}

.panel{
    margin-bottom:15px;
}

.form-inline .input-group{
    width:100%;
    
    button{
        margin-bottom:10px;
    }
}

.sideBySide{
    display:flex;
    flex-direction: row;
    
    .input-group{
        width:auto;
    }
    
    .input-group-btn,
    .panel-title{
        flex:1;
    }
    
    .panel-title{
        line-height:34px;
    }
    
    .input-group-btn{
        text-align:right;
        
        button{
            margin-bottom:0;
        }
    }
    
    .input-group-btn:last-child > .btn{
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
}

.btn-lg, .btn-group-lg > .btn {
    padding: 10px 14px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
}

#item-id-panel{
    margin-top:15px;
}

#checkboxes{
    flex:1;
    
    .checkbox input[type="checkbox"]{
        margin-left:0;
    }
}

#imageGenerator{
    flex:1;
    
    .row{
        margin:0;
    }
    
    img{
        margin-bottom:10px;
    }
}

#bbox-table{
   margin:0 auto; 
}

#form-publish-info-item-bbox{
    margin-left:0;
    margin-right:0;
}

#form-publish-info-item-service-layer .form-group{
    padding:0;
}

#form-publish-info-item-keywords{
    margin-left:0;
    margin-right:0;
    .input-group-btn{
        width:30px;
    }
    
    h3{
        font-size:16px;
    }
}

.form-inline .form-group{
    width:100%;
    padding:0 15px;
    margin:0;
}

.form-inline .form-group label:first-child{
    margin-top:0px;
}


.form-inline .form-control{
     width:100%;
     margin-bottom:10px;
}


.form-inline .input-group .input-group-btn{
    width:60px;
}


.row {
	&-type {
		.row-form-combo;
	}
	&-attribute {
		.row-form-combo;
	}
	&-title {
		.row-form-combo;
	}
	&-children {
		.row-form-combo;
	}
	&-description {
		.row-form-combo;
	}
	&-displayed-children {
		.row-form-combo;
	}
	&-id .form-control {
		width: 100%;
	}
	&-name .form-control {
		width: auto;
	}
}

.form-publish-info-item-bbox h5 {
	font-weight: bold;
}

#services-panel .form-group {
	width: 100%;
}

#qq-uploader-dummy {
	display: none;
	ul {
		display: none;
	}
}

#form-publish-info-item-image {
    height: 150px;
    width: 150px;
}

.resource-panel {
	.panel-heading button {
		margin-top: -5px;
	}
	.panel-body {
		&>div.well >div:nth-child(1) {
			margin-top: -10px;
		}
		input, select {
			width: 100%
		}
	}
}

.alias-panel {
	.panel-heading button {
		margin-top: -5px;
	}
	.panel-body {
		&>div.well >div:nth-child(1) {
			margin-top: -10px;
		}
		input, select {
			width: 100%
		}
	}
}

.aliasrow-closebutton {
	cursor: pointer;
}

.publicationrow-closebutton {
	cursor: pointer;
}

.resource-list-container-sortable {
	list-style-type: none;
    padding-left: 0px;
	li {
		margin-bottom: 5px;
		margin-top: 5px;
		border: none;
		&:hover {
			cursor: move;
		}
	}
	.ui-state-highlight {
		height: 200px;
	}
}

.alias-modal-row {
	padding: 10px !important;
}

.alias-modal-row-button {
	margin-left: 5px;
	margin-right: 5px;
	cursor: pointer;
    font-size: 16px;
	display: block;
	margin-bottom: 12px;
}

.alias-modal-row-button-container {
	float: right;
}

.alias-modal-display-name {
	display: inline-block;
}

.alias-modal-display-item {
	display: inline-block;
}

.alias-modal-edit-row {
    width: 100% !important;
}

.alias-modal-error-container {
	color: #cc0000;
}

.alias-modal-filter-box {
	display: inline;
	width: 40% !important;
}

.alias-modal-filter-container {
	margin-bottom: 10px;
	border-bottom: 1px solid #ddd;
	padding: 15px;
	padding-bottom: 5px !important;
	padding-top: 10px !important;
	margin-left: -15px;
	margin-right: -15px;
	margin-top: -15px;
	background-color: #f5f5f5;
}

.alias-modal-filter-button {
	margin-top: 8px;
	margin-bottom: 5px;
}

.alias-modal-filter-warning {
	margin-left: 10px;
	vertical-align: bottom;
	line-height: 25px;
	font-size: 12px;
	display: inline;
	font-weight: normal;
}

.alias-modal-filter-controls-container {
	height: 36px;
}

#item-id-panel {
	margin-right: 0px !important;
}

#form-publish-info-item-children-sortable-ul {
    list-style-type: none;
    padding-left: 0px;
	li {
		padding: 10px;
		border: @cch-border;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		text-align: center;
		background-color: white;
		margin: 5px;
		span {
			& > i:first-child {
				float: left;
				font-size: 2em;
			}
			& > div button {
				width: 20%;
				i {
					font-size: 1.7em;
				}
				&.active i {
					color: #5cb85c;
				}
			}
			&  > div {
				clear : both
			}
		}
	}
}

form-publish-info-item-panel-children .panel-body {
    background-color: @cch-gray;
}

.qq-upload-button {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: inline-block !important;
	margin-bottom: 0;
	font-weight: normal;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	color: white;
	background-color: #5cb85c;
	border-color: #4cae4c;
	padding: 10px 16px  !important;
	font-size: 18px;
	line-height: 1.33;
	border-radius: 6px;
	background: #5cb85c !important;
	width: auto !important;
}

.popover {
    max-width: none !important;
}

#deleteChildrenForm label {
	vertical-align: middle;
	margin-left: 4px;
}

.emphasis {
	&-item {
		.emphasis-block;
	}
	&-aggregation {
		.emphasis-block;
	}
}

#all-alias-panel .panel-heading {
    padding-bottom: 18px;
}

#storm-form label {
	display: block;
}

@media screen and (min-width:768px){
    
    .flexSection{
        display:flex;
        flex-direction:row;
        flex-wrap: wrap;
        
        #item-id-panel,
        .flexLeft{
            margin-right:15px;
            flex:1;
        }
        
        #features-panel{
            margin-top:15px;
            flex:1;
        }
        
        .flexRight{
            flex:1;
        }
    }
}