html, body {
    /* 
    320 pixels is the minimum width and 600px is
    the minimum height that this application will support.
    Anything smaller, scroll the app
    */
    min-width: 320px;
    min-height: 600px;
    font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #777;
}