<div id="application-slide-search-location-card-{{id}}" class="application-slide-search-location-card well well-small">
	<div>
		<div><img src="{{baseUrl}}/images/search/compass.svg" alt="Compass Search Icon" class="application-slide-search-location-card-icon-compass"/></div>
		<div class="application-slide-search-location-card-title-description-container">
			<div>
				<div class="application-slide-search-location-card-title" id="application-slide-search-location-card-title-{{id}}">{{title}} {{#if address}}({{address}}){{/if}}&nbsp;
					<span class="badge application-slide-search-location-card-link-zoomto"><i class="fa fa-search-plus"></i> Zoom To</span>
				</div>
			</div>
		</div>
	</div>
</div>