// Colors 
@gray-base: #555;
@cch-primaryColor : #003366;
@cch-gray:#f5f5f5;
@cch-text-color:#333;
@usgs-footerBar-background:#666;

// Fonts
@cch-fontFamily:Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;

// Constants
@cch-border:1px solid #dddddd;

// Media queries
@desktop-large: ~"only screen and (min-width: 1170px)";
@desktop-medium: ~"only screen and (min-width: 992px) and (max-width: 1169px)";
@tablet: ~"only screen and (min-width: 768px) and (max-width: 991px)";
@tablet-small: ~"only screen and (min-width: 441px) and (max-width: 767px)";
@phone-landscape: ~"only screen (min-width: 321px) and (max-width: 440px)";
@phone-profile: ~"only screen and (max-width: 320px)";
