<li class="ui-state-default">
	<div class="well well-small alias-modal-row">
		<div class="alias-modal-display-row">
			<div class="alias-modal-row-button-container">
				<i class="fa fa-trash alias-modal-row-button alias-modal-row-button-trash" aria-hidden="true"/>
				<i class="fa fa-pencil alias-modal-row-button alias-modal-row-button-edit" aria-hidden="true"/>
			</div>
			<label class="">Name:&nbsp;</label>
			<span class="alias-modal-display-name">{{this.id}}</span>
			<br/>
			<label>Item:&nbsp;</label>
			<span class="alias-modal-display-item">{{this.item_id}}</span>
		</div>
		<form class="alias-modal-edit-row" hidden="hidden">
			<br/>
			<label>Name (Accepted Characters: Lowercase Letters, Numbers, and '-')</label>
			<input type="text" class="form-control alias-modal-item-name" value="{{this.id}}" />
			<br/>
			<label>Item ID</label>
			<input type="text" class="form-control alias-modal-item-item" value="{{this.item_id}}"/>
			<br/>
			<div style="height: 16px;" class="">
				<div style="float: left;" class="alias-modal-error-container" hidden="hidden">
					<i class="fa fa-exclamation-triangle"/>
					<span class="alias-modal-error-text"></span>
				</div>
				<i style="float: right;" class="fa fa-floppy-o alias-modal-row-button alias-modal-row-button-save" aria-hidden="true"/>
			</div>
		</form>
	</div>
</li>