<li class="ui-state-default">
	<div class="well well-small">
		<div class="pull-right publicationrow-closebutton">
			<i class="fa fa-times"></i>
		</div>
		
		<div class="row">
			<label>Title</label>
			<input type="text" maxlength="{{this.linkInputMaxLength}}" class="form-control panel-item-link" value="{{this.titleValue}}" />
		</div>
		<div class="row">
			<label>Link</label>
			<input type="text" maxlength="{{this.titleInputMaxLength}}" class="form-control panel-item-title" value="{{this.linkValue}}" />
		</div>
		<div class="row">
			<select class="form-control">
				<option value="data">Data</option>
				<option value="publications">Publications</option>
				<option value="resources">Resource</option>
			</select>
		</div>
	</div>

</li>