/* Attribution Image */
#map #openlayers-map-attribution-image {
    height: 60px;
    opacity: .25;
    margin-right: 20px;
    margin-top: 20px;
}

.olControlAttribution {
    bottom: 20px !important;
}