/*
    Deals with the navigation bar at the top of the application 
*/

#app-navbar-container {
    z-index: 1005;
    /* override bootstrap default behavior */
    margin-bottom: 4px; 
}

/* 
    Every item in the nav bar is contained within this class
*/
.app-navbar-item-container {
    height: 50px;
    display: inline;

}

.app-navbar-title {
    color: #FFFFFF;
    padding-right: 15px;
}

#app-navbar-help-container {
    font-size: 32px;
    height: 50px;
    position: relative;
    top: 8px;
}

#app-navbar-help-container a:hover {
    background-color: #345280;
}

#app-navbar-help-container i {
    display: inherit;
    color: #FFFFFF;
    text-decoration: none;
}

#app-navbar-help-container i:hover {
    cursor: pointer;
    color: #D6DCE6;
}


@media (max-width: 440px) {
    #app-navbar-help-search-container {
        margin-right: -10px;
    }

}

#app-navbar-site-title-container {
    float: left;
    height: 45px;
    margin-top: 5px;
}

#app-navbar-site-title-container h3 {
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: none;
}

#app-navbar-coop-logo-img {
    float: left;
    height: 51px;
    margin-right: 15px;
}

#app-navbar-inner {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background-color: #345280 !important;
    background-image: none; 
    background-repeat: no-repeat;
    border: none;
    box-shadow: none;
    padding-left: 0px;
    filter: none; /* Fixes an IE issue that bootstrap adds */
    height: 50px;
}

#app-navbar-pin-control-icon {
    font-size: 2em;
}

#app-navbar-pin-control-caret {
    font-size: 2em;
}

#results-popover-geolocation-results-container {
    position : relative;
}