/*
    Deals with the navigation bar at the top of the application 
*/

/* Header container ***********************************************************/
#header-row {
    z-index: 1005;
    margin-bottom: 4px;
    background-color: red;
    height: 55px;
}
/******************************************************************************/

/* Every item in the nav bar is contained within this class */
#header-row .app-navbar-item-container {
    float: left;
    max-height: 55px;
}

/* Logo ***********************************************************************/
#header-row > .app-navbar-item-container:first-child {
    margin-right: 15px;
    height: 55px;
    width: 126px;
}
#header-row > .app-navbar-item-container:first-child > img {
    height: 56px;
}
/******************************************************************************/


/* Title **********************************************************************/
#header-row > .app-navbar-item-container:nth-child(2) {
    vertical-align: middle;
    margin-top: 5px;
    padding-right: 15px;
}

#header-row > .app-navbar-item-container:nth-child(2) div {
    color: #FFFFFF;
    font-size: 2em;
}
/******************************************************************************/


/* Help Icon ******************************************************************/
#header-row > .app-navbar-item-container:nth-child(5) > span {
    font-size: 32px;
    height: 50px;
    position: relative;
    top: 8px;
}

#header-row > .app-navbar-item-container:nth-child(5) > span > a:hover {
    background-color: #345280;
}

#header-row > .app-navbar-item-container:nth-child(5) > span > a > i {
    display: inherit;
    color: #FFFFFF;
    text-decoration: none;
}

#header-row > .app-navbar-item-container:nth-child(5) > span > a > i:hover {
    cursor: pointer;
    color: #D6DCE6;
}
/******************************************************************************/

@media (max-width: 440px) {

}