/* ---------------------------------------------------------------------- UI */
/* Because of a conflict between twitter bootstrap and openlayers */
#ccsa-area {
	padding-top: 5px;
}

img { 
    max-width: none !important; 
}

#application-container {
	min-width : 320px !important;
}

#application-spinner {
    text-align: center;
    display: none;
}

#header #banner-area {
    background-image: url("../images/banner/banner.png");
}


#map-wrapper {
	min-height : 150px;
}

#site-title {
    line-height: 20px;
}

.popover {
	max-width : 2000px !important;
}

.baseLayersDiv > .labelSpan {
	display : inline;
}
.dataLayersDiv > .labelSpan {
	display : inline;
}

.slide-menu-icon-twitter {
	color : #7EB3CD;
}

.description-description-row {
	min-height : 100px;
}

.description-title {
	font-size : 1.2em;
	font-weight: bold;
	text-align: center;
}

.description-container {
	background-size: auto 80%;
	background-repeat: no-repeat;
	background-position: right top;
}

.slide-menu-icon {
	font-size: 2em;
}

.slider-slide-active .description-container-storms {
	background-image : url("../images/cards/StormsActive.svg");
}
.slider-slide-inactive .description-container-storms {
	background-image : url("../images/cards/StormsInactive.svg");
}
.slider-slide-active .description-container-vulnerability {
	background-image : url("../images/cards/VulnerabilityActive.svg");
}
.slider-slide-inactive .description-container-vulnerability {
	background-image : url("../images/cards/VulnerabilityInactive.svg");
}
.slider-slide-active .description-container-historical {
	background-image : url("../images/cards/HistoricalActive.svg");
}
.slider-slide-inactive .description-container-historical {
	background-image : url("../images/cards/HistoricalInactive.svg");
}

.slider-card-pinned i {
	color : #008F00; 
}

.marker-active {
	border-color: #00CCFF !important;
	background-color: rgba(0,102,255, 0.5);
}

.marker-inactive {
	border-color: #00A3CC !important;
	background-color: rgba(0,102,255, 0.5);
}

.marker-hover {
	border-color: #8CE8FF !important;
	background-color: rgba(0,102,255, 0.5);
	opacity : 1.0 !important;
}

#map-search-container {
	background-color: rgba(0, 60, 136, 0.5);
	position: absolute;
	top: 0;
	padding: 0px 5px 5px 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	width: 180px;
}

#map-search-input {
	width : 120px;
}

#map-search-icon {
	margin-right: 5px;
	color: #FFFFFF;
	font-size: 18px;
	width : 20px;
}

@media print {
	img {
		max-width: none !important; 
	}
}