/* ---------------------------------------------------------------------- UI */

/* 
    Because of a conflict between twitter bootstrap and openlayers
    See: https://github.com/openlayers/openlayers/pull/755
*/
img { 
    max-width: none !important; 
}

/* 
    320 pixels is the minimum width that this application will support.
    Anything smaller, scroll the app
*/
#application-container {
    min-width : 320px !important;
}

#footer-row {
    background-color: #345280 !important;
    height: 20px;
    margin-top: 5px;
}

@media (max-width: 766px) {
    body {
        padding-left: 0px !important;
        padding-right:  0px !important;
    }

    #application-container {
        padding-left: 0px;
        padding-right:  0px;
    }
}

@media (min-width: 767px) {
    body {
        padding-left: 20px !important;
        padding-right:  20px !important;
    }

    #application-container {
        padding-left: 20px;
        padding-right:  20px;
    }
}

.description-description-row {
    min-height : 100px;
    overflow : auto;
}

.description-title {
    font-size : 1.2em;
    font-weight: bold;
    text-align: center;
}

.description-container {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 20% top;
}

#description-wrapper {
    overflow: auto;
    max-width: 100%;
}

.slider {
    width: 100%;
    height: 100%;
}

.slider-slide-active {
    opacity: 1;
    filter: alpha(opacity=100);
}

.slider-slide-inactive {
    opacity: 0.4;
    filter: alpha(opacity=40);
    overflow : hidden;
}

.slider-slide-inactive .description-container-large .description-button-row { 
    display: none;
}

.description-container-small btn {
    height: auto;
}

.description-container-small i {
    font-size: 2em;
}


.slide-menu-icon {
    font-size: 2em;
}

.slide-menu-icon:hover {
    cursor: pointer;
}

.slider-slide-active .description-container-storms {
    background-image : url("../images/cards/StormsActive.svg");
}
.slider-slide-inactive .description-container-storms {
    background-image : url("../images/cards/StormsInactive.svg");
}
.slider-slide-active .description-container-vulnerability {
    background-image : url("../images/cards/VulnerabilityActive.svg");
}
.slider-slide-inactive .description-container-vulnerability {
    background-image : url("../images/cards/VulnerabilityInactive.svg");
}
.slider-slide-active .description-container-historical {
    background-image : url("../images/cards/HistoricalActive.svg");
}
.slider-slide-inactive .description-container-historical {
    background-image : url("../images/cards/HistoricalInactive.svg");
}

.slider-card-pinned i {
    color : #FF0000; 
}

#banner-area {
    display: none;
}

#page-info {
    display: none;
}

#gov-buttons {
    display: none;
}

/* Bootstrap Fix */
img { 
    max-width: none !important; 
}

#map {
    height: 400px;
}

body {
    padding-left: 10px !important;
    padding-right:  10px !important;
}


.btn-error {
    font-size: 1em;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-left: 5px;
    margin-right: 5px;
}

#cch-ui-legend-div {
    max-height: 300px;
    overflow-y: auto;
}


.cch-ui-legend-table-body-div-color {
    height: 10px;
    border: #000000;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-botder-radius: 10px;
}

#cch-ui-legend-table-caption {
    font-size: 1.2em;
}

#cch-ui-legend-table {
    table-layout: fixed;
}

#cch-ui-legend-table tbody td {
    padding : 2px;
    vertical-align: middle;
}

#cch-ui-legend-table tbody td:nth-child(3) {
    border-left: none;
}

#info-row-control iframe{
    vertical-align: middle;
    margin-left: 10px;
}

#info-summary {
    font-size:1.3em;
    line-height: 1.5em;
}

.info-title {
    text-align: center;
    font-size: 1.7em;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 600;
    letter-spacing: 3px;
    color: #666;
    line-height: 1em;
}

#site-title {
    line-height: 20px;
}

#metadata-link .btn {
    margin-left : 5px;
    margin-right : 5px;
}

/* Fixes pink tile issue in OpenLayers map */
.olImageLoadError {
    display : none !important;
}

#info-graph img {
    height: 100%;
    width: 100%;
}

#info-graph {
    text-align: center;
    height: 300px;
}

@media (max-width: 440px) {
    #info-title {
        font-size: 0.65em;
    }

    #info-row-control iframe{
        margin-left: 5px;
    }

    #map {
        height : 300px;
    }

    .olControlZoom {
        display: none;
    }
}

@media (max-width: 766px) {
    #info-row-control iframe{
        margin-top: 5px;
        margin-left: 5px;
    }

    #info-graph {
        height: 100px;
    }

    #cch-ui-legend-div {
        max-height: none;
    }

    #banner-area,
    .content {
        display:none;
    }
}

#item-search-modal[aria-hidden="false"] {
    position: absolute;
}

#item-search-modal[aria-hidden="true"] {
    z-index: -1;
    position: fixed;
}

#item-search-map {
    height : 200px;
}

#item-search-modal-body {
    max-height: 100% !important;
    height: auto;
}


#item-search-input-table-row{
    text-align: center;
}

.item-search-row-map-input {
    background-color: #EEEEEE;
}

#item-search-keyword-input {
    width: 100%;
}

#map {
    min-height : 150px;
}

.marker-active {
    border-color: #00CCFF !important;
    background-color: rgba(0,102,255, 0.5);
}

.marker-inactive {
    border-color: #00A3CC !important;
    background-color: rgba(0,102,255, 0.5);
}

.marker-hover {
    border-color: #8CE8FF !important;
    background-color: rgba(0,102,255, 0.5);
    opacity : 1.0 !important;
}

/* Fixes pink tile issue in OpenLayers map */
.olImageLoadError {
    display : none !important;
}

@media (max-width: 440px) {
    .olControlZoom {
        display: none;
    }
}

.nav-stacked li.active a img {
    height: 3.5em;
    width: 4.5em;
}
.nav-stacked li a img {
    height: 2.5em;
    width: 3.5em;
}
.nav-pills.nav-stacked > li > a {
    text-align: center;
}

#nav {
    text-align: center;
}

#nav a:hover {
    text-decoration: none;
}

#nav .accordion-toggle {
    color : #333333;
}

#nav .accordion-toggle i{
    font-size: 400%;
}

#nav .accordion-body .accordion-group-item{
    padding-bottom: 1em;
}


/* Setting this zIndex manually fixes
 an issue seen on mobile browsers with
 hidden modal windows blocking use of 
 containers they're in front of. This 
 can probably be done to set all 
 .modal[aria-hidden="true"] zo -1 zIndex,
 but I was somewhat concerned of side
 effects from doing it application-wide */
#helpModal[aria-hidden="true"],
#shareModal[aria-hidden="true"] {
    z-index: -1;
}

#modal-help-summary-container {
    font-size: 1.2em;
    font-family: Verdana,Arial,Helvetica,sans-serif;

}

#canned-views-row img {
    width: 100%;
    height: 100%;
}



#modal-share-summary-url-inputbox{
    width: 97%;
    font-size: 2em;
    height: 1.6em;
    line-height: 2em;
}

#modal-share-summary-text-label {
    font-size : 1.5em;
}
#modal-share-summary-twitter-label{
    font-size: 1.5em;
    line-height: 1.5em;
}


