/* ---------------------------------------------------------------------- UI */

#application-spinner {
    text-align: center;
    display: none;
}

#header #banner-area {
    background-image: url("../images/banner/banner.png");
}


#map-wrapper {
	min-height : 150px;
}

#site-title {
    line-height: 20px;
}

/* Because of a conflict between twitter bootstrap and openlayers */
img { 
    max-width: none !important; 
}

.popover {
	max-width : 2000px !important;
}

.baseLayersDiv > .labelSpan {
	display : inline;
}
.dataLayersDiv > .labelSpan {
	display : inline;
}

.olControlPanel div { 
	display:block;
	width:  48px;
	height: 48px;
	margin: 5px;
	background-color: #00008B;
    -moz-border-radius: 1em 0 0 0;
	border-radius:  1em;
}