/* ---------------------------------------------------------------------- UI */
body, html {
    width: 100%;
    height : 100%;
}

#application-spinner {
    text-align: center;
    display: none;
}

.block-element {
    width: 100%;
}

#header #banner-area {
    background-image: url("../images/banner/banner.png");
}

#map {
    min-height: 100%;
    height: 100%;
    width: 100%;
}

#site-title {
    line-height: 20px;
}

/* Because of a conflict between twitter bootstrap and openlayers */
img { 
    max-width: none !important; 
}

.popover {
	max-width : 2000px !important;
}

.baseLayersDiv > .labelSpan {
	display : inline;
}
.dataLayersDiv > .labelSpan {
	display : inline;
}

