/* Bootstrap Fix */
img { 
    max-width: none !important; 
}

.btn-error {
	font-size: 1em;
	padding-top: 6px;
	padding-bottom: 6px;
	margin-left: 5px;
	margin-right: 5px;
}

#info-summary {
	font-size:1.3em;
	line-height: 1.5em;
}

.info-title {
	text-align: center;
	font-size: 1.5em;
	margin-top: 10px;
	margin-bottom: 10px;
	font-weight: 600;
	letter-spacing: 3px;
	color: #666;
	line-height: 1em;
}

#site-title {
	line-height: 20px;
}

#info-row-info-fullwidth {
	margin-top: 10px;
}

.btn {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left : 5px;
	margin-right : 5px;
}