#item-search-modal[aria-hidden="false"] {
	position: absolute;
}

#item-search-modal[aria-hidden="true"] {
	z-index: -1;
	position: fixed;
}

#item-search-map {
	height : 200px;
}

#item-search-modal-body {
	max-height: 100% !important;
	height: auto;
}


#item-search-input-table-row{
	text-align: center;
}

.item-search-row-map-input {
	background-color: #EEEEEE;
}

#item-search-keyword-input {
	width: 100%;
}