#application-slide-bucket-container {
    position: absolute;
    z-index: 1008;
}

#application-slide-bucket-content-container {
    height: 97%;
    margin-top: 10px;
    overflow: scroll;
}

.application-slide-bucket-container-card-image {
    width: 100%;
}

/*
No tab shown on large display. Toggled via button in bar
*/
@media (min-width: 767px) {
    #application-slide-bucket-content {
        border-top-left-radius: 10px 10px;
        -webkit-border-top-left-radius: 10px 10px;
        border-bottom-left-radius: 10px 10px;
        -webkit-border-bottom-left-radius: 10px 10px;
    }
}

@media (max-width: 766px) {
    #application-slide-bucket-content {
        border-bottom-left-radius: 10px 10px;
        -webkit-border-bottom-left-radius: 10px 10px;
        border-top-left-radius: 10px 10px;
        -webkit-border-top-left-radius: 10px 10px;
        border-bottom-left-radius: 10px 10px;
        -webkit-border-bottom-left-radius: 10px 10px;
    }

    .application-slide-bucket-container-card-image {
        width: auto;
    }
    
    #application-slide-bucket-container {
        top : 10px;
        height: 97%;
    }
}

#application-slide-bucket-content {
    background-color: #F5F5F5;
    border-bottom: 2px solid #E3E3E3;
    border-top: 2px solid #E3E3E3;
    border-left: 2px solid #E3E3E3;
    height: 100%;
    float: right;
    display: inline-block;
    z-index: 2000;
}