#application-slide-items-content-container .accordion-heading {
    background-color: #F5F5F5;
}

.application-card-collapse-icon-container {
    display: table-cell;
    vertical-align: middle;
}

.application-card-collapse-row-dottedline {
    display: table-cell;
    width: 100%;
}

.application-card-collapse-row-dottedline hr {
    border-top:1px dashed #000;
}

.accordion-body.open .application-card-collapse-row-closed {
    display: none;
}

.accordion-body:not(.open) .application-card-collapse-row-open {
    display: none;
}

.application-card-collapse-icon-container {
    padding-right: 5px;
}

.application-card-collapse-icon-container:hover {
    cursor: pointer;
    font-size-adjust: 0.7;
}

@media (min-width: 767px) {
    /* No tab shown on large display. Toggled via button in bar */
    #application-slide-items-tab {
        display: none;
    }

    #application-slide-items-container {
        top: auto;
        left: auto;
        /*background-color: #F5F5F5;*/
    }

    #application-slide-items-content {
        height: 100%;
        width: 100%;
    }

    #application-slide-items-content-container {
        height: 100%;
        width: 100%;
        /*background-color: #F5F5F5;*/
        overflow-y: auto;
    }
}

@media (max-width: 766px) {

    #application-slide-items-container {
        position: absolute;
        z-index: 1006; /* 1005 is highest on map */
    }
    
    #application-slide-items-content {
        height: 100%;
        float:right;
    }
    
    #application-slide-items-content-container {
        overflow: auto;
        background-color: #F5F5F5;
        height: 100%;
        border-left: 2px solid #E3E3E3;
        border-top: 2px solid #E3E3E3;
        border-bottom: 2px solid #E3E3E3;
        border-top-left-radius: 10px 10px;
        -webkit-border-top-left-radius: 10px 10px;
        border-bottom-left-radius: 10px 10px;
        -webkit-border-bottom-left-radius: 10px 10px;
    }

    #application-slide-items-tab {
        height : fit-content;
        width: fit-content;
        display: inline-block;
        background-color: #F5F5F5;
        border-left: 2px solid #E3E3E3;
        border-top: 2px solid #E3E3E3;
        border-bottom: 2px solid #E3E3E3;
        z-index: 2001;
        border-top-left-radius: 40px 10px;
        -webkit-border-top-left-radius: 40px 10px;
        border-bottom-left-radius: 40px 10px;
        -webkit-border-bottom-left-radius: 40px 10px;
        float: left;
        font-size: 1.4em;
        padding-left: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
        color: #0033CC;
        z-index: 1007;
        top: 90%;
    }
    
    #application-slide-items-tab:hover {
        cursor: pointer;
    }

    #application-slide-items-content {
        border-bottom-left-radius: 10px 10px;
        -webkit-border-bottom-left-radius: 10px 10px;
    }
}