#app-navbar-bucket-control-container {
    width: 50px;
    margin-left: 2px;
}
#app-navbar-bucket-control-container > * {
    float: left;
}
#app-navbar-bucket-control-container > *:hover {
    cursor: pointer;
}

/* Bucket *********************************************************************/
#app-navbar-bucket-control-container > *:nth-child(1) > span {
    background-size: 40px 40px;
    background-repeat: no-repeat;
    background-position: 0 50%;
    height: 50px;
    width: 40px;
    display: inline-block;
}
/******************************************************************************/

 #app-navbar-bucket-control-container > *:nth-child(1) > span.app-navbar-bucket-button-container-unpopulated {
	 background-image: url("../../images/banner/bucket/bucket-no-sand.svg");
 }
 
 #app-navbar-bucket-control-container > *:nth-child(1) > span.app-navbar-bucket-button-container-populated {
	 background-image: url("../../images/banner/bucket/bucket.svg");
 }
 
/* Text node ******************************************************************/
#app-navbar-bucket-control-container > *:nth-child(1) > span > span {
    color: #003366;
    font-weight: bold;
    top: 23px;
    margin-left: 17px;
    position: relative;
}
/******************************************************************************/

/* Triangle *******************************************************************/
#app-navbar-bucket-control-container > *:nth-child(2) > span {
    color: #FFFFFF;
    position: relative;
    top: 30px;
    width: 20px;
    margin-right: 5px;
    left: -5px;
}
/******************************************************************************/